<form method="post" action="{{ path('app_serviced_object_delete', {'id': serviced_object.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ serviced_object.id) }}">
    <button class="btn">Delete</button>
</form>
